<!-- Creado por Daniel Alejandro Martinez para Residencia profesional 28/05/2023 -->

<app-navbar></app-navbar>

<div class="elegant-form">
  <h3>Por favor ingresa la siguiente información.</h3>
  <!-- Alerta de registro exitoso -->
  <div class="alert alert-info" role="alert" *ngIf="created">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
        </div>
        <span class="alert-text"
          >Se te ha enviado un correo eletronico de confirmacion (token
          {{ token }}), para poder continuar con el proceso de registro.
        </span>
        <div class="alert-actions">
          <button class="btn btn-primary" type="button" routerLink="/personal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin alerta de registro exitoso -->

  <!-- Alerta de error -->
  <div class="alert alert-info" role="alert" *ngIf="faltanDatos">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
        </div>
        <span class="alert-text"
          >Asegura que la informacion este completa
        </span>
        <div class="alert-actions">
          <button
            class="btn btn-primary"
            type="button"
            (click)="cerrarAlertaDeError()"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin alerta de error -->

  <!-- Inicio Form -->
  <form clrForm>
    <div class="clr-row">
      <!-- Columna izquierda -->
      <div class="clr-col-sm-12 clr-col-md-6">
        <clr-input-container>
          <label>Nombre:</label>
          <input
            clrInput
            type="text"
            [(ngModel)]="userToCreate.firstname"
            name="firstname"
            placeholder="Nombre"
            required
          />
          <clr-control-error>Se requiere un nombre</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label>Apellido:</label>
          <input
            clrInput
            type="text"
            [(ngModel)]="userToCreate.lastname"
            name="lastname"
            placeholder="Apellido"
            required
          />
          <clr-control-error>Se requiere un apellido</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label>Correo Electronico:</label>
          <input
            clrInput
            type="mail"
            [(ngModel)]="userToCreate.email"
            name="email"
            placeholder="Correo Electronico"
            required
          />
          <clr-control-error>Se requiere correo electronico</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label>Contraseña:</label>
          <input
            clrInput
            type="password"
            [(ngModel)]="userToCreate.password"
            name="password"
            placeholder="Contraseña"
            required
          />
          <clr-control-error>Se requiere contraseña</clr-control-error>
        </clr-input-container>

        <!-- Combo box -->
        <clr-combobox-container>
          <label>Rol</label>
          <clr-combobox
            placeholder="Seleccione un rol"
            [(ngModel)]="userToCreate.role"
            required
          >
            <clr-options>
              <clr-option
                *clrOptionItems="let rol of roles; field: 'label'"
                clrvalue="rol.value"
                >{{ rol.label }}</clr-option
              >
            </clr-options>
          </clr-combobox>
        </clr-combobox-container>
        <!-- fin de Combo box -->
      </div>
      <!-- Fin columna izquierda -->

      <!-- Columna derecha -->
      <div class="clr-col-sm-12 clr-col-md-6">
        <clr-input-container>
          <label>CURP:</label>
          <input
            clrInput
            type="text"
            [(ngModel)]="userToCreate.curp"
            name="curp"
            placeholder="CURP"
          />
        </clr-input-container>
        <clr-input-container>
          <label>RFC:</label>
          <input
            clrInput
            type="text"
            [(ngModel)]="userToCreate.rfc"
            name="rfc"
            placeholder="RFC"
          />
        </clr-input-container>
        <clr-input-container>
          <label>Telefono:</label>
          <input
            clrInput
            type="phone"
            [(ngModel)]="userToCreate.phone"
            name="phone"
            placeholder="Telefono"
          />
        </clr-input-container>
      </div>
      <!-- Fin Columna derecha -->
    </div>

    <!-- Botones footer -->
    <div class="modal-footer">
      <button class="btn btn-warning" type="button">Registro completo</button>
      <button
        class="btn btn-primary"
        type="submit"
        (click)="signUp()"
        #submitButton
      >
        Ok
      </button>
      <button class="btn btn-outline" type="button" routerLink="/personal">
        Cancel
      </button>
    </div>
    <!-- Fin botones footer -->
  </form>
  <!-- Fin Form -->
</div>

<div class="example-container"> 
  <mat-form-field>
    <mat-label>Introduce tu email</mat-label>
    <input
      matInput
      placeholder="mail@example.com"
      [formControl]="email"
      required
    />
    <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
  </mat-form-field>
</div>
