<!-- Creado por Daniel Alejandro Martinez para Residencia profesional 28/05/2023 -->

<app-navbar></app-navbar>

<div class="elegant-form">
  <h3>Por favor ingresa la siguiente información.</h3>
  <!-- Alerta de registro exitoso -->
  <div class="alert alert-info" role="alert" *ngIf="created">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
        </div>
        <span class="alert-text"
          >Se te ha enviado un correo eletronico de confirmacion (token
          {{ token }}), para poder continuar con el proceso de registro.
        </span>
        <div class="alert-actions">
          <button class="btn btn-primary" type="button" (click)="created=false">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin alerta de registro exitoso -->

  <!-- Alerta de error -->
  <!-- <div class="alert alert-info" role="alert" *ngIf="faltanDatos">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
        </div>
        <span class="alert-text"
          >Asegura que la informacion este completa
        </span>
        <div class="alert-actions">
          <button
            class="btn btn-primary"
            type="button"
            (click)="cerrarAlertaDeError()"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Fin alerta de error -->

  <!-- Inicio Form -->
  <form (ngSubmit)="addUser()" [formGroup]="addForm">
    <!-- Nombre -->
    <div>
      <label>Nombre:</label>
      <input
        type="text"
        [(ngModel)]="user.firstname"
        name="firstname"
        required
        formControlName="nombre"
      />
      <!-- Comprobar el campo --> 
      <div *ngIf="addForm.get('nombre')?.touched && addForm.get('nombre')?.errors?.['required']"
        style="font-size: 80%; color: red;">
          <!-- <i class="bi bi-exclamation-triangle-fill"></i> -->
          Campo requerido
      </div>
      <div *ngIf="addForm.get('nombre')?.touched && addForm.get('nombre')?.errors?.['minlength']"
        style="font-size: 80%; color: red;">
          <!-- <i class="bi bi-exclamation-triangle-fill"></i> -->
          El nombre debe ser mayor a 3 caracteres
      </div>
      <!-- <div class="alert alert-danger">Campo requerido</div> -->
    </div>
    <!-- fin Nombre -->

    <!-- Apellido -->
    <div>
      <label>Apellido:</label>
      <input
        type="text"
        [(ngModel)]="user.lastname"
        name="lastname"
        required
        formControlName="apellido"
      />
    </div>
    <!-- Validacion -->
    <div *ngIf="addForm.get('apellido')?.touched && addForm.get('apellido')?.errors?.['required']"
        style="font-size: 80%; color: red;">
          <!-- <i class="bi bi-exclamation-triangle-fill"></i> -->
          Campo requerido
      </div>
      <div *ngIf="addForm.get('apellido')?.touched && addForm.get('apellido')?.errors?.['minlength']"
        style="font-size: 80%; color: red;">
          El apellido debe ser mayor a 3 caracteres
      </div>
    <!-- Fin apellido -->

    <!-- Correo electronico -->
    <div>
      <label>Correo Electronico:</label>
      <input
        type="mail"
        [(ngModel)]="user.email"
        name="email"
        required
        formControlName="correo"
      />
    </div>
    <!-- Validacion -->
    <div *ngIf="addForm.get('correo')?.touched && addForm.get('correo')?.errors?.['required']"
        style="font-size: 80%; color: red;">
          <!-- <i class="bi bi-exclamation-triangle-fill"></i> -->
          Campo requerido
      </div>
      <div *ngIf="addForm.get('correo')?.touched && addForm.get('correo')?.errors?.['email']"
        style="font-size: 80%; color: red;">
          <!-- <i class="bi bi-exclamation-triangle-fill"></i> -->
          Ingresa un correo valido
      </div>
    <!-- Fin de correo electronico -->

    <!-- Rol -->
    <div>
      <label>Rol</label>
      <br />
      <select
        style="
          border: 1px solid rgb(84, 84, 84);
          width: 100%;
          box-sizing: border-box;
          padding: 5px;
          border-radius: 3px;
          margin-bottom: 5px;
        "
        class="form-control"
        [(ngModel)]="user.role"
        required
        formControlName="rol"
      >
        <option *ngFor="let rol of roles" [ngValue]="rol.value">
          {{ rol.label }}
        </option>
      </select>
    </div>
    <!-- Validacion -->
    <div *ngIf="addForm.get('rol')?.touched && addForm.get('rol')?.errors?.['required']"
        style="font-size: 80%; color: red;">
          <!-- <i class="bi bi-exclamation-triangle-fill"></i> -->
          Campo requerido
      </div>
    <!-- Fin Rol -->

    <!-- <div>
      <label>Fecha de nacimiento:</label>
      <input
        [(ngModel)]="user.bday"
        type="date"
        name="FechaNac"
        required
      />
    </div>

    <div>
      <label>Contraseña:</label>
      <input
        type="password"
        [(ngModel)]="user.password"
        name="password"
        required
      />
    </div>

    <div>
      <label>Confirme la contraseña:</label>
      <input
        type="password"
        [(ngModel)]="confirmPass"
        name="password"
        required
      />
    </div>

    <div>
      <label>CURP:</label>
      <input
        type="text"
        [(ngModel)]="user.curp"
        name="curp"
      />
    </div>
    <div>
      <label>RFC:</label>
      <input type="text" [(ngModel)]="user.rfc" name="rfc" />
    </div>

    <div>
      <label>Telefono:</label>
      <input
        type="phone"
        [(ngModel)]="user.phone"
        name="phone"
      />
    </div>

    <div>
      <label>Domicilio:</label>
      <input
        type="text"
        [(ngModel)]="user.address"
        name="text"
      />
    </div> -->

    <!-- Botones footer -->
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit" [disabled]="addForm.invalid" #submitButton>Ok</button>
      <button class="btn btn-outline" type="button" #btnCancel_Regresar routerLink="/preferencias/personal">
        Cancelar
      </button>
    </div>
    <!-- Fin botones footer -->
  </form>
  <!-- Fin Form -->
</div>