<div class="contenido">
        <form class="formulario" (ngSubmit)="updPersonalData()" [formGroup]="updPersonalForm">

            <mat-form-field class="input">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="fullname" [(ngModel)]="data.fullname">
                <!-- Comprobar el campo --> 
                <div *ngIf="updPersonalForm.get('fullname')?.touched &&
                            updPersonalForm.get('fullname')?.errors?.['required']"
                style="font-size: 80%; color: red;">
                    Campo obligatorio
                </div>
                <div *ngIf="updPersonalForm.get('fullname')?.errors?.['minlength']"
                style="font-size: 80%; color: red;">
                    El nombre debe ser mayor a 3 caracteres
                </div>
            </mat-form-field>
    
            <br>

            <mat-form-field class="input">
                <mat-label>Fecha de nacimiento</mat-label>
                <input matInput type="date" formControlName="birthdate" [(ngModel)]="data.birthdate">

                <div *ngIf="updPersonalForm.get('birthdate')?.touched &&
                            updPersonalForm.get('birthdate')?.errors?.['required']"
                style="font-size: 80%; color: red;">
                    Campo obligatorio
                </div>
            </mat-form-field>

            <br>

            <mat-form-field class="input">
                <mat-label>CURP</mat-label>
                <input matInput formControlName="strCURP" [(ngModel)]="data.strCURP">
                <!-- Comprobar el campo --> 
                <div *ngIf="updPersonalForm.get('strCURP')?.touched &&
                            updPersonalForm.get('strCURP')?.errors?.['required']"
                style="font-size: 80%; color: red;">
                    Campo obligatorio
                </div>
                <div *ngIf="updPersonalForm.get('strCURP')?.errors?.['pattern']"
                style="font-size: 80%; color: red;">
                    Ingrese una CURP valida
                </div>
            </mat-form-field>
    
            <br>

            <h5>Comprobante de CURP</h5>
            <div class="drop-file" *ngIf="!curp">
                <h2>Arrastre un archivo</h2>
                <h4>O</h4>
                <h4 class="btn btn-sm btn-outline">seleccione el archivo</h4>
                <input type="file"  (change)="getFile($event)" class="file" accept=".pdf" formControlName="curpfile" id="curpfile"/>

            </div>
            <div id="preview" class="drop-file" style="height: 80px;" *ngIf="curp">
                <p>Archivo cargado con exito: {{curp.name}}</p>
                <button (click)="curp = undefined" class="btn btn-sm btn-outline-warning">Eliminar archivo</button>
            </div>

            <br>

            <mat-form-field class="input">
                <mat-label>RFC</mat-label>
                <input matInput formControlName="strRFC" [(ngModel)]="data.strRFC">
                <!-- Comprobar el campo --> 
                <div *ngIf="updPersonalForm.get('strRFC')?.touched &&
                            updPersonalForm.get('strRFC')?.errors?.['required']"
                style="font-size: 80%; color: red;">
                    Campo obligatorio
                </div>
                <div *ngIf="updPersonalForm.get('strRFC')?.errors?.['pattern']"
                style="font-size: 80%; color: red;">
                    Ingrese un RFC valido
                </div>
            </mat-form-field>
    
            <br>

            <h5>Comprobante de RFC</h5>
            <div class="drop-file" *ngIf="!rfc">
                <h2>Arrastre un archivo</h2>
                <h4>O</h4>
                <h4 class="btn btn-sm btn-outline">seleccione el archivo</h4>
                <input type="file"  (change)="getRFC($event)" class="file" accept=".pdf" formControlName="rfcfile" id="rfcfile"/>

            </div>
            <div id="preview" class="drop-file" style="height: 80px;" *ngIf="rfc">
                <p>Archivo cargado con exito: {{rfc.name}}</p>
                <button (click)="rfc = undefined" class="btn btn-sm btn-outline-warning">Eliminar archivo</button>
            </div>

            <br>

            <h5>Comprobante de Domicilio</h5>
            <div class="drop-file" *ngIf="!compDom">
                <h2>Arrastre un archivo</h2>
                <h4>O</h4>
                <h4 class="btn btn-sm btn-outline">seleccione el archivo</h4>
                <input type="file"  (change)="getCDOM($event)" class="file" accept=".pdf" formControlName="compDom" id="compDomfile"/>

            </div>
            <div id="preview" class="drop-file" style="height: 80px;" *ngIf="compDom">
                <p>Archivo cargado con exito: {{compDom.name}}</p>
                <button (click)="compDom = undefined" class="btn btn-sm btn-outline-warning">Eliminar archivo</button>
            </div>

            <br>

            <mat-form-field class="input">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="phone" [(ngModel)]="data.phone">

                <div *ngIf="updPersonalForm.get('phone')?.touched &&
                            updPersonalForm.get('phone')?.errors?.['required']"
                style="font-size: 80%; color: red;">
                    Campo obligatorio.
                </div>
                <div *ngIf="updPersonalForm.get('phone')?.touched &&
                            updPersonalForm.get('phone')?.errors?.['minlength']"
                style="font-size: 80%; color: red;">
                    Al menos 10 digitos.
                </div>
                <div *ngIf="updPersonalForm.get('phone')?.touched &&
                            updPersonalForm.get('phone')?.errors?.['maxlength']"
                style="font-size: 80%; color: red;">
                    Maximo 10 digitos.
                </div>
            </mat-form-field>

            <br>
    
            <mat-form-field class="input">
                <mat-label>Correo Electronico</mat-label>
                <input matInput type="email" disabled value="{{email}}">
            </mat-form-field>
    
            <br>
    
            <mat-form-field class="input">
                <mat-label>Estado civil</mat-label>
                <mat-select formControlName="civilstatus" [(ngModel)]="data.civilstatus">
                  <mat-option *ngFor="let cs of cstates" [value]="cs.value">
                    {{cs.label}}
                  </mat-option>
                </mat-select>
                <!-- Comprobar el campo --> 
                <div *ngIf="updPersonalForm.get('civilstatus')?.touched &&
                            updPersonalForm.get('civilstatus')?.errors?.['required']"
                style="font-size: 80%; color: red;">
                    Campo obligatorio.
                </div>
              </mat-form-field>
    
            <br>
    
            <div>
                <button class="btn btn-success" type="submit" #submitButton mat-raised-button [disabled]="updPersonalForm.invalid || !curp">Guardar</button>
                <button class="btn btn-warning" mat-raised-button routerLink="/informacion/dPersonales">Cancelar</button> 
            </div>
        </form>
</div>
