<app-navbar></app-navbar>
<nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="../studiesprograms" aria-current="page">Programas de estudio</a>
        </li>
        <!--
        <li class="nav-item">
            <a class="nav-link" routerLink="/personal" >Personal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 4</a>
        </li>
        -->
    </ul>
</nav>
<!--
<clr-vertical-nav>
        <a clrVerticalNavLink routerLink="../studiesprograms" >Programas de estudio</a>

    <clr-vertical-nav-group routerLinkActive="active">
        <cds-icon shape="user" clrVerticalNavIcon></cds-icon>
        Programas de Estudio

        <clr-vertical-nav-group-children>
            <a clrVerticalNavLink
               routerLink="./normal/pidgey"
               routerLinkActive="active">
                Pidgey
            </a>
            <a clrVerticalNavLink
               routerLink="./normal/snorlax"
               routerLinkActive="active">
                Snorlax
            </a>
        </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>

</clr-vertical-nav>
-->