<div class="contenedor-padre">
    <div class="contenido">
        <ul style="list-style-type: none">
            <li>Nombre:</li>
            <li>Fecha de nacimiento:</li>
            <li>CURP:</li>
            <li>RFC:</li>
            <li>Domicilio:</li>
            <li>Telefono:</li>
            <li>Correo Electronico:</li>
            <li>Estado civil:</li>
            <li>INE:</li>
    
            <div class="boton">
                <button type="button" class="btn btn-primary" routerLink="/informacion/updPersonales">Editar</button>
            </div>
        </ul>
        <ul class="noBullet">
            <li>{{nombre}}</li>
            <li>{{usuario.fechNac}}</li>
            <li>{{usuario.curp}}</li>
            <li>{{usuario.rfc}}</li>
            <li>{{usuario.domicilio}}</li>
            <li>{{usuario.telefono}}</li>
            <li>{{email}}</li>
            <li>{{usuario.estadoCiv}}</li>
            <li><button class="btn btn-sm btn-outline" (click)="true">mostrar</button></li>
        </ul> 
    </div>
</div>
