/* *{
    border: solid black 1px;
} */

.boton{
    margin-top: 15px;
}

.contenedor-padre {
    display: flex;
    justify-content: center;
    align-items: center;
     /* Ajusta la altura según tus necesidades */
  }

.contenido{
    /* border: 1px black dotted; */
    display: flex;
    justify-content: center;
    text-align: left;
    height: fit-content;

    padding: 20px;
    width: fit-content;
    border-radius: 1%;
    background-color: rgb(225, 225, 225);
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .contenido, .boton {
        flex-direction: column;
    }
}

.noBullet{
    margin-left: 20px;
    list-style-type: none;
}

li{
    height: 30px;
}