<app-navbar></app-navbar>
<div class="pref">
    <h3 class="pref-text"> 
        La sección de Preferencias es una herramienta fundamental para los administradores de nuestra página web. Aquí podrás gestionar de manera eficiente y sencilla la información relacionada con programas de estudio y personal. Con nuestras potentes funciones, podrás agregar nuevos programas de estudio y personal a la página, así como gestionarlos y actualizar su información de manera fácil. Además, tendrás la capacidad de eliminar o añadir detalles relevantes a cada uno de ellos. Con esta sección, los administradores podrán tener un control completo sobre los recursos y contenidos ofrecidos en nuestra página web, garantizando una experiencia óptima para los usuarios.
    </h3>
</div>
