<!-- Creado por Daniel Alejandro Martinez para Residencia profesional 17/05/2023 -->
<app-navbar></app-navbar>

<div style="margin: 20px">
  <!-- Agregar personal -->
  <button class="btn btn-success" routerLink="/personal/add">
    Agregar Personal
  </button>
  <!-- fin agregar personal -->

  <!-- Tarjeta -->
  <!-- <div
    class="clr-row"
    *ngFor="
      let usuario of usuarios | paginate : { itemsPerPage: 5, currentPage: p }
    "
  >
    <div class="clr-col-lg-12 clr-col-md-12 clr-col-12">
      <div class="card">
        <h3 class="card-header">
          {{ usuario.firstname }} {{ usuario.lastname }}
        </h3>

        <div class="card-block">
          <h4 class="card-title">Informacion:</h4>
          <div class="card-text">
            <p>Correo: {{ usuario.email }}</p>
            <p>Rol: {{ usuario.role }}</p>
            <p>Contraseña: {{ usuario.password }}</p>
            <p>Bloqueado: {{ usuario.locked }}</p>
            <p>Verificado: {{ usuario.verified }}</p>
            <p>Sin Primer Inicio: {{ usuario.newUser }}</p>
          </div>
        </div>

        <div class="btn-group btn-primary card-footer">
          <button class="btn">Modificar</button>
          <button class="btn btn-danger">Borrar</button>
        </div>

      </div>
    </div>
  </div> -->
  <!-- fin Tarjeta -->

  <!-- Acordion -->
  <cdk-accordion class="example-accordion">
    <cdk-accordion-item
      *ngFor="let user of usuarios | paginate : { itemsPerPage: 5, currentPage: p }; let index = index;"
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index"
    >
      <div
        class="example-accordion-item-header"
        (click)="accordionItem.toggle()"
      >
        {{ user.firstname }} {{user.lastname}}
        <span class="example-accordion-item-description">
          {{ accordionItem.expanded ? "contraer" : "expander" }}
        </span>
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index"
      >
      <!-- Cuerpo -->

        <!-- Datos de usuario -->
        <cdk-accordion>
          <cdk-accordion-item #userDataAcordion="cdkAccordionItem">
            <!-- header -->
              <div (click)="userDataAcordion.toggle()">
                Datos de usuario
              </div>
            <!-- Cuerpo -->
            <div [style.display]="userDataAcordion.expanded ? '' : 'none'"
            class="example-accordion-item-body">
              <p>Correo electronico: {{user.email}}</p>
              <p>Rol: {{user.role}}</p>
              <p>Bloqueado: {{user.locked}}</p>
              <p>Verificado: {{user.verified}}</p>
              <p>Sin primer ingreso: {{user.newUser}}</p>
              <p>Contraseña: {{user.password}}</p>
            </div>
          </cdk-accordion-item>
        </cdk-accordion>
        <!-- Fin datos de usuario -->

      </div>
    </cdk-accordion-item>
  </cdk-accordion>

  <!-- Fin acordion -->

  <!-- Controles de paginacion -->
  <pagination-controls
    style="
      margin: 20px;
      justify-content: center;
      align-items: center;
      display: flex;
    "
    (pageChange)="p = $event"
    previousLabel="Anterior"
    nextLabel="Siguiente"
    [maxSize]="5"
    [responsive]="true"
  ></pagination-controls>
  <!-- fin controles de paginacion -->

  <br />
</div>
