<!-- Creado por Daniel Alejandro Martinez para Residencia profesional 17/05/2023 -->
<app-navbar></app-navbar>

<div style="padding: 20px">
  <!-- Agregar personal -->
  <button class="btn btn-success" routerLink="/personal/add">
    Agregar Personal
  </button>
  <!-- fin agregar personal -->

  <!-- Tarjeta -->
  <!-- <div
    class="clr-row"
    *ngFor="
      let usuario of usuarios | paginate : { itemsPerPage: 5, currentPage: p }
    "
  >
    <div class="clr-col-lg-12 clr-col-md-12 clr-col-12">
      <div class="card">
        <h3 class="card-header">
          {{ usuario.firstname }} {{ usuario.lastname }}
        </h3>

        <div class="card-block">
          <h4 class="card-title">Informacion:</h4>
          <div class="card-text">
            <p>Correo: {{ usuario.email }}</p>
            <p>Rol: {{ usuario.role }}</p>
            <p>Contraseña: {{ usuario.password }}</p>
            <p>Bloqueado: {{ usuario.locked }}</p>
            <p>Verificado: {{ usuario.verified }}</p>
            <p>Sin Primer Inicio: {{ usuario.newUser }}</p>
          </div>
        </div>

        <div class="btn-group btn-primary card-footer">
          <button class="btn">Modificar</button>
          <button class="btn btn-danger">Borrar</button>
        </div>

      </div>
    </div>
  </div> -->
  <!-- fin Tarjeta -->

  <!-- Lista de usuarios -->
  <!-- <div class="usuarios">
    <a *ngFor="let usuario of usuarios | paginate : { itemsPerPage: 5, currentPage: p }"
    (click)="verUsuario((usuario.email).toString())">
      {{usuario.firstname}} {{usuario.lastname}}
    </a>
  </div> -->

  <clr-datagrid >
    <!--<clr-dg-column>ID</clr-dg-column>-->
    <clr-dg-row *clrDgItems="let usuario of usuarios | paginate : { itemsPerPage: 5, currentPage: p }" [clrDgItem]="usuario" >
        <!--<clr-dg-cell>{{sp.id}}</clr-dg-cell> -->
        <clr-dg-cell (click)="verUsuario((usuario.email).toString())">{{usuario.firstname}} {{usuario.lastname}}</clr-dg-cell>
        <clr-dg-action-overflow>
            <button class="action-item" (click)="true">Editar</button>
            <button class="action-item" (click)="true">Eliminar</button>
        </clr-dg-action-overflow>
    </clr-dg-row>

    <clr-dg-footer>{{usuarios.length}} Usuario(s)</clr-dg-footer>
  </clr-datagrid>

  <!-- Fin Lista de usuarios -->

  <!-- Controles de paginacion -->
  <pagination-controls
    style="
      margin: 20px;
      justify-content: center;
      align-items: center;
      display: flex;
    "
    (pageChange)="p = $event"
    previousLabel="Anterior"
    nextLabel="Siguiente"
    [maxSize]="5"
    [responsive]="true"
  ></pagination-controls>
  <!-- fin controles de paginacion -->

  <br />
</div>
