<app-navbar></app-navbar>
<div>
    <button class="btn btn-outline" (click)="isModalVisible=true"
    style="margin: 15px;">Nuevo</button>
    <clr-datagrid style="margin-left: 15px; margin-right: 15px;">
        <!--<clr-dg-column>ID</clr-dg-column>-->
        <clr-dg-column>Programa de Estudio</clr-dg-column>
        <clr-dg-row *clrDgItems="let sp of studiesprograms" [clrDgItem]="sp" >
            <!--<clr-dg-cell>{{sp.id}}</clr-dg-cell> -->
            <clr-dg-cell>{{sp.studiesProgramName}}</clr-dg-cell>
            <clr-dg-action-overflow>
                <button class="action-item" (click)="onEdit(sp)">Editar</button>
                <button class="action-item" (click)="onDelete(sp)">Eliminar</button>
            </clr-dg-action-overflow>
        </clr-dg-row>

        <clr-dg-footer>{{studiesprograms.length}} Programas de Estudio</clr-dg-footer>
    </clr-datagrid>

    <form (ngSubmit)="onAdd()" [formGroup]="spform">
        <clr-modal [(clrModalOpen)]="isModalVisible">
            <h3 class="modal-title">Nuevo programa</h3>
            <div class="modal-body">
                <clr-input-container>
                    <input clrInput type="text" [(ngModel)]="spToCreate.studiesProgramName" placeholder="Nombre del Programa de Estudios" required formControlName="sp" />
                </clr-input-container>

                <!-- Comprobar el campo --> 
                <div *ngIf="spform.get('sp')?.touched && spform.get('sp')?.errors?.['required']"
                style="font-size: 80%; color: red;">
                    <!-- <i class="bi bi-exclamation-triangle-fill"></i> -->
                    Campo requerido
                </div>
                <div *ngIf="spform.get('sp')?.touched && spform.get('sp')?.errors?.['minlength']"
                style="font-size: 80%; color: red;">
                    <!-- <i class="bi bi-exclamation-triangle-fill"></i> -->
                    El nombre debe ser mayor a 3 caracteres
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-outline" (click)="isModalVisible = false">Cancel</button>
                <button type="submit" class="btn btn-primary" [disabled]="spform.invalid" #submitButton>Ok</button>
            </div>
        </clr-modal>
    </form>
</div>

