<app-navbar></app-navbar>
<div class="main-container" >
    <div class="content-container">
        <clr-vertical-nav>
            <a clrVerticalNavLink routerLink="./dPersonales" routerLinkActive="active">Datos personales</a>
            <a clrVerticalNavLink routerLink="./dAcademicos" routerLinkActive="active">Datos academicos</a>
            <a clrVerticalNavLink routerLink="./dCategorias" routerLinkActive="active">Datos de categorias</a>
            <a clrVerticalNavLink routerLink="./dServProf" routerLinkActive="active">Servicios profecionales</a>
            <a clrVerticalNavLink routerLink="./dExamEval" routerLinkActive="active">Examenes de evaluacion</a>
            <a clrVerticalNavLink routerLink="./dExpLab" routerLinkActive="active">Experiencia laboral</a>
        </clr-vertical-nav>
        <div class="content-area" >
            <router-outlet></router-outlet>
        </div>
    </div>
</div>